{% extends '_layouts/base.njk' %}

{% block page_title %}{{member.name}} {% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1> {{member.name}} </h1>
      <img src="img/members/{{ member.image }}" class="img-fluid" alt="image of band member">
    </div>
    <div class ="col-sm-8">
      <p style="margin-bottom-5px"> {{ member.text | safe}}</p>
      <p> Details of Member </p>
        <ul>
          <li> Born: {{ member.birthdate }}</li>
          <li> Birthplace: {{ member.birthplace }}</li>
          <li> Years in Queen: {{ member.tenure }}</li>
          <li> Instruments: {{ member.instruments }}</li>
        </ul>

    </div>
  </div>
</article>
{% endblock %}
