{% extends '_layouts/base.njk' %}

{% block page_title %}Queen Emporium{% endblock %}

{% block page_description %} The history and discography of the band Queen {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>The 'Champions' of Queen</h1>
    </div>
  </div>
    {% include "_partials/band-cards.njk" %}

  <div class="row">
    <div class="col-sm-12">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Albums</h5>
            <p class="card-text">Discover the music of the iconic band, Queen.</p>
            <a href="discography.html" class="btn btn-primary">Enter</a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
