.jumbotron.banner {
    background-image: url(../img/queen-band-wallpaper.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 12rem
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }